/*
Desenvolvido por Lucas Duffeck Ribeiro para a disciplina de Programacao 4
BSI - PUC PR - 4o Per�odo.
*/
/* 
    Created on : 01/09/2015, 16:03:25
    Author     : lucas.ribeiro
*/
h1 {
    color:blue;
}

body {
    background-color: grey;
}
